//Variables
$website-width: 1280px;
$main-color: #def321;
$light-color: #21f6e4;
$medium-color: rgb(235, 121, 229);
$dark-color: #333;

//img comes from index.html and css
$bg-image: url('../img/snow55.png');

//set text color in to

@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return #000;
  } @else {
    @return #fff;
  }
}
