//Variables
$website-width: 1280px;
$main-color: #d2a12b;
$medium-color: #f8f40e;
$light-color: rgb(105, 228, 160);
$dark-color: #073049;
//img comes from index.html and css
$bg-image: url('../img/32.png');
//set text color in to
@function set-text-color($color) {
  @if (lightness($color) >50) {
    @return #000;
  } @else {
    @return #fff;
  }
}
