//Variables
$website-width: 1280px;
$main-color: #d2a12b;
$medium-color: #0cfafa;
$light-color: rgb(232, 235, 85);
$dark-color: #23465a;
//img comes from index.html and css
$bg-image: url('../img/32.png');
//set text color in to
@function set-text-color($color) {
  @if (lightness($color) >50) {
    @return #000;
  } @else {
    @return #fff;
  }
}
