.d-text {
  font-size: 104px;
  color: #23465a;
  font-family: 'Arial Black', Gadget, sans-serif;
  font-weight: bold;
  font-style: italic;
  text-shadow: 0px 0px 0 rgb(27, 62, 82), 1px 1px 0 rgb(19, 54, 74),
    2px 2px 0 rgb(10, 45, 65), 3px 3px 0 rgb(2, 37, 57),
    4px 4px 0 rgb(-6, 29, 49), 5px 5px 0 rgb(-14, 21, 41),
    6px 6px 0 rgb(-23, 12, 32), 7px 7px 0 rgb(-31, 4, 24),
    8px 8px 0 rgb(-39, -4, 16), 9px 9px 8px rgba(0, 0, 0, 0.13),
    9px 9px 1px rgba(0, 0, 0, 0.5), 0px 0px 8px rgba(0, 0, 0, 0.2);
}

.d1-text {
  font-size: 104px;
  color: #d2a02b;
  font-family: 'Arial Black', Gadget, sans-serif;
  font-weight: bold;
  font-style: italic;
  text-shadow: 0px 0px 0 rgb(202, 152, 35), 1px 1px 0 rgb(194, 144, 27),
    2px 2px 0 rgb(185, 135, 18), 3px 3px 0 rgb(177, 127, 10),
    4px 4px 0 rgb(169, 119, 2), 5px 5px 0 rgb(161, 111, 0),
    6px 6px 0 rgb(152, 102, 0), 7px 7px 0 rgb(144, 94, 0),
    8px 8px 0 rgb(136, 86, 0), 9px 9px 8px rgba(0, 0, 0, 0.13),
    9px 9px 1px rgba(0, 0, 0, 0.5), 0px 0px 8px rgba(0, 0, 0, 0.2);
}
