 .d-text {
     font-size: 98px;
     color: #0c7489;
     font-family: 'Trebuchet MS', Helvetica, sans-serif;
     text-shadow: 0px 0px 0 rgb(0, 104, 125), 1px 1px 0 rgb(-11, 93, 114), 2px 2px 0 rgb(-23, 81, 102), 3px 3px 0 rgb(-35, 69, 90), 4px 4px 0 rgb(-47, 57, 78), 5px 5px 0 rgb(-58, 46, 67), 6px 6px 0 rgb(-70, 34, 55), 7px 7px 0 rgb(-82, 22, 43), 8px 8px 7px rgba(0, 0, 0, 0.4), 8px 8px 1px rgba(0, 0, 0, 0.5), 0px 0px 7px rgba(0, 0, 0, .2);
 }
 
 .d1-text {
     font-size: 98px;
     color: #f99500;
     font-family: 'Trebuchet MS', Helvetica, sans-serif;
     text-shadow: 0px 0px 0 rgb(237, 137, 0), 1px 1px 0 rgb(226, 126, 0), 2px 2px 0 rgb(214, 114, 0), 3px 3px 0 rgb(202, 102, 0), 4px 4px 0 rgb(190, 90, 0), 5px 5px 0 rgb(179, 79, 0), 6px 6px 0 rgb(167, 67, 0), 7px 7px 0 rgb(155, 55, 0), 8px 8px 7px rgba(0, 0, 0, 0.4), 8px 8px 1px rgba(0, 0, 0, 0.5), 0px 0px 7px rgba(0, 0, 0, .2);
 }